@page
@model MartowoKsiazkowo.Pages.BookUsers.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookUser[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookUser[0].Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookUser[0].DataWyp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookUser[0].DataOd)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BookUser) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Tytul)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataWyp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataOd)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BookUserId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BookUserId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BookUserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
