@page
@model MartowoKsiazkowo.Pages.Book.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Książki</h1>

@* <div>@await Component.InvokeAsync("BookCount")</div> *@

<p>
    <a asp-page="Create">Dodaj nową</a>
</p>
<br />

@*<form asp-page="Book">
    <p>
        Wyszukaj książkę: <input type="text" name="SearchString" />
		<label>  Gatunek  </label>
		<select asp-items="ViewBag.BookInfoId" name="bookInfoId">
			<option value="">Wszystkie</option>
		</select>

		<input type="submit" value="Szukaj" />
	</p>
    
		
</form>*@



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Tytul)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].BookInfoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Book) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tytul)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookInfo.Gatunek)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.FullAutorName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BookId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BookId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BookId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
