@page
@model MartowoKsiazkowo.Pages.BookInfo.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookInfo[0].Gatunek)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BookInfo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Gatunek)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.BookInfoId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.BookInfoId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.BookInfoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
