@page
@model MartowoKsiazkowo.Pages.UserAdres.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Adres</h1>

<p>
    <a asp-page="Create">Dodaj nowy adres</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserAddress[0].User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAddress[0].Miasto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAddress[0].Ulica)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAddress[0].NrDomu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserAddress[0].NrTelefonu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.UserAddress) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Miasto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ulica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrDomu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrTelefonu)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.UserAddressId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.UserAddressId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.UserAddressId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
